extends ../layout_error 

block layout-content 

    .welcome(style="color:white")
        i.fa-solid(class='fa-face-meh big-icons' )
        h1 Ops! Algo deu errado!
        span O conteúdo que você procura não pôde ser encontrado!