extends ../layout_unauth

block layout-unauth-content

    .welcome
        h1 Seja bem vindo!
        a(href="https://boaentrega-apps.auth.us-east-2.amazoncognito.com/login?response_type=token&client_id=40d1993q02vkab8c911rka00br&redirect_uri=http://localhost:7070/gsl/login-process/")
            button Entrar

        