.main-menu 
    table 
        td
            a(href="/gsl/" title="Home")
                i.fa-solid(class='fa-house')  
        td
            a(href="/gsl/clients" title="Clientes")
                i.fa-solid(class='fa-address-book')

        td
            a(href="/gsl/suppliers" title="Fornecedores")
                i.fa-solid(class='fa-handshake')

        td
            a(href="/gsl/stores" title="Estoque")
                i.fa-solid(class='fa-warehouse')

        td
            a(href="/gsl/settings" title="Configurações")
                i.fa-solid(class='fa-sliders')