.main-menu 
    table 
        td
            a(href="/sge/" title="Home")
                i.fa-solid(class='fa-house')  
        td
            a(href="/sge/clients" title="Clientes")
                i.fa-solid(class='fa-address-book')

        td
            a(href="/sge/suppliers" title="Fornecedores")
                i.fa-solid(class='fa-handshake')

        td
            a(href="/sge/stores" title="Estoque")
                i.fa-solid(class='fa-warehouse')

        td
            a(href="/sge/settings" title="Configurações")
                i.fa-solid(class='fa-sliders')