.main-menu 
    table 
        td
            a(href="/" title="Home")
                i.fa-solid(class='fa-house')  
        td
            a(href="/clients" title="Clientes")
                i.fa-solid(class='fa-address-book')

        td
            a(href="/suppliers" title="Fornecedores")
                i.fa-solid(class='fa-handshake')

        td
            a(href="/stores" title="Estoque")
                i.fa-solid(class='fa-warehouse')

        td
            a(href="/settings" title="Configurações")
                i.fa-solid(class='fa-sliders')